<header>
<section style="display : inline-block">
  <h3>Helical Lattice AE(3,5,5)</h3>
<img style="width: 40%" src="../../assets/lattice.png">
</section>
<section style="display : inline-block">
  <h3 >Rules</h3>
  <img style="width: 40%" src="../../assets/rules_table.png">
</section>
</header>

<section class="cuerpo">
  <section class="tabla chuncks">
      <h4>Chunks of Data</h4>
    <div class="columna" *ngFor = "let columnas of matrixChunks">
      <div class="chunck" *ngFor="let cuadro of columnas">{{cuadro}}</div>
    </div>
  </section>

  <section class="tabla XORs">
    <h4>Horizontal XORs</h4>
      <div class="columna" *ngFor = "let columnas of matrixChunks">
        <div class="h" *ngFor="let cuadro of columnas">p{{cuadro}}_{{cuadro + 5}}</div>
      </div>
    </section>

    <section class="tabla XORs">
        <h4>Right Handed XORs</h4>
        <div class="columna" *ngFor = "let columnas of matrixChunks">
          <div class="rh" *ngFor="let cuadro of columnas">p{{cuadro}}_{{cuadro + 5}}</div> <!-- /*operador ternario*/  (condicion) ? (si si ejecucion) : (si no ejecucion) -->
        </div>
      </section>

      <section class="tabla XORs">
          <h4>Left Handed XORs</h4>
          <div class="columna" *ngFor = "let columnas of matrixChunks">
            <div class="lh" *ngFor="let cuadro of columnas">p{{cuadro}}_{{cuadro + 5}}</div>
          </div>
        </section>

</section>
